**1- Explain the key features of Python that make it a popular choice for programming?**

**Ans-** Python is popular because it's easy to learn and use, making it great for beginners. Its simple, readable syntax helps developers write clear code quickly. Python is versatile and can be used for web development, data analysis, automation, and more.

It has a large community that provides support and shares resources, making it easier to find help when needed. Python also has many libraries and frameworks that simplify complex tasks, saving time and effort.

Additionally, Python is open-source and free to use, which encourages widespread adoption. Its cross-platform compatibility ensures it works on various operating systems, enhancing its accessibility.

Overall, Python's simplicity, versatility, strong community support, and open-source nature contribute to its popularity among developers worldwide.

**2 - Describe the role of predefined keywords in Python and provide examples of how they are used in a program?**

**Ans-** In Python, predefined keywords are special reserved words that have specific meanings and purposes. These keywords cannot be used as variable names, function names, or any other identifiers. They are fundamental to the structure and syntax of the language

**Example-**

In [3]:
x=10
if x>0:
  print("positive")
else:
  print("negative")

positive

**3- Compare and contrast mutable and immutable objects in Python with examples?**

**Ans-** In Python, mutable and immutable objects are two fundamental concepts related to whether or not an object's value can be changed after it's created.

**Mutable Objects**

Mutable objects can be changed after they are created. If you modify a mutable object, the object itself is updated in place.

**Examples of mutable objects:**

In [ ]:
Lists (list)
Dictionaries (dict)
Sets (set)

**Immutable Objects**

Immutable objects cannot be changed once they are created. Any change results in a new object being created.

**Examples of immutable objects:**

In [ ]:
Integers (int)
Floats (float)
Strings (str)

**Differecnes**

1.  Mutable objects can be changed but immutable cant be changed.
2.  Mutable objets are fixed in memory after changes but immutable objects creates new creation after modification.

**4- Discuss the different types of operators in Python and provide examples of how they are used.**

**Ans-** - Different types of operators in Python—these are special symbols or words that let you do things like math, comparisons, or logic.


a)   **Arithmetic Operators**
      These are used to do math, like adding or multiplying numbers.
      Example:

In [4]:
a=10
b=3
print(a+b)
print(a//b)

13
3

b)   **Comparison Operators**

      These are used to compare values, and they return True or False.

      Example

In [5]:
x = 7
y = 5
print(x > y)  # True
print(x == y) # False

True
False

C) **Assignment Operators**
These operator used to assign values to variables.

Example

In [6]:
x = 5
x += 2
print(x)  # 7

7

d) **Logical Operators**

Used to combine conditional statements.

Example

In [7]:
x = 7
print(x > 5 and x < 10)  # True
print(not x == 7)        # False

True
False

**5- Explain the concept of type casting in Python with examples**

**Ans-** Type casting in Python refers to converting one data type into another. Python provides built-in functions to perform this operation.

There are two types of type casting in Python:


1.   Implicit Type Casting
2.   Explicit Type Casting

**Implicit Type Casting** -
When Python automatically converts one data type to another without user intervention.

In [9]:
a = 15      # int
b = 17.5    # float
c = a + b   # result is automatically a float
print(c)    # Output: 32.5
print(type(c))  # Output: <class 'float'>

"Explanation: a is an integer, b is a float. Python implicitly converts a to float before the addition, resulting in a float."

32.5
<class 'float'>

'Explanation: a is an integer, b is a float. Python implicitly converts a to float before the addition, resulting in a float.'

**Explicit Type Casting**
This involves manually converting a variable to a specific data type using built-in functions like

In [13]:
  num_str = "15"
  num_int = int(num_str)
  print(num_int)  # Output: 15
  print(type(num_int))  # Output: <class 'int'>
  "String to Integer"

15
<class 'int'>

'String to Integer'

In [17]:
  num_float = 5.9
  num_int = int(num_float)
  print(num_int)  # Output: 5
  print(type(num_int))  # Output: <class 'int'>
"Float to Integer"

5
<class 'int'>

'Float to Integer'

In [19]:
  num = 25
  num_str = str(num)
  print(num_str)  # Output: '25'
  print(type(num_str))  # Output: <class 'str'>
  "Integer to String"

25
<class 'str'>

'Integer to String'

**6-How do conditional statements work in Python? Illustrate with examples?**

**Ans-** ​Conditional statements in Python allow you to execute specific blocks of code based on whether a condition is true or false. This is fundamental for decision-making in programming.

In [26]:
x = 10
if x > 5:
    print("x is greater than 5")
"The if statement evaluates a condition and executes the associated block of code if the condition is true ."

x is greater than 5

'The if statement evaluates a condition and executes the associated block of code if the condition is true .'

In [27]:
x = 3
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")
"Here, since x is not greater than 5, the else block is executed"

x is not greater than 5

'Here, since x is not greater than 5, the else block is executed'

In [28]:
x = 15
if x > 20:
    print("x is greater than 20")
elif x > 10:
    print("x is greater than 10 but less than or equal to 20")
else:
    print("x is 10 or less")
"In this case, x satisfies the second condition, so the corresponding message is printed."

x is greater than 10 but less than or equal to 20

'In this case, x satisfies the second condition, so the corresponding message is printed.'

**7- Describe the different types of loops in Python and their use cases with examples.**

**Ans-** A loop is a way to repeat a block of code multiple times. Python supports iteration through sequences (like lists, strings, dictionaries, etc.) and can also repeat actions while a condition holds true.

Use of Loops


1.   Automate repetitive tasks
2.   Work with items in a collection (like lists or dictionaries)
3.   Perform actions until a condition is met

Types of Loops.


1.   for Loop
2.   while Loop
3.   nested Loop

**for Loop uses**

Looping through items in a list

Iterating over a range of numbers

Reading characters from a string

Working with dictionaries

In [36]:
# List 1
Places = ['Mumbai', 'Chennai', 'Bengalore']
for Places in Places:
    print(Places)

# Loop using range
for i in range(3):
    print(i)  # Outputs: 0 1 2

# Loop through a dictionary
person = {'name': 'Jaseem', 'age': 35}
for key, value in person.items():
    print(key, value)

Mumbai
Chennai
Bengalore
0
1
2
name Jaseem
age 35

**while Loop uses**

Running code until a condition changes

Creating infinite loops (with a break condition)

Waiting for user input or external event

In [ ]:
counter = 0
while counter < 5:
    print("Counter is:", counter)
    counter += 1

# Example with break
while True:
    response = input("Type 'back' to quit: ")
    if response == 'exit':
        break

Counter is: 0
Counter is: 1
Counter is: 2
Counter is: 3
Counter is: 4

**nested Loop uses**

2D arrays

Multiplication tables

Complex data structures

In [39]:
for i in range(1, 4):
    for j in range(1, 4):
        print(f"{i} x {j} = {i*j}")
    print("---")

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
---
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
---
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
---